/* #region base */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
}
button {
  cursor: pointer;
  font-family: inherit;
}
address {
  font-style: normal;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
/* #endregion base */

/* #region top-line */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-style: normal;
  font-size: 18px;
  color: #4d5ae5;
  text-transform: uppercase;
}
.studio {
  color: #2e2f42;
  text-transform: uppercase;
}
.nav-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-list:hover,
.nav-list:active,
.nav-list:focus {
  color: #404bbf;
}
.adress-links:hover,
.adress-links:focus,
.adress-links:active {
  color: #404bbf;
}
/* #endregion top-line */

/* #region hero */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  font-style: normal;
  color: #ffffff;
}
.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-style: normal;
  line-height: 1.5;
  color: #ffffff;
  background-color: #4d5ae5;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
/* #endregion hero */

/* #region solutions */
.sol-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  font-style: normal;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #endregion solutions */

/* #region team */
.team {
  background-color: #f4f4fd;
}
.team-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  font-style: normal;
}
.team-subtitle {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.description {
  font-size: 16px;
}
.team-list {
  background-color: #ffffff;
}
.team-composition {
  background-color: #e7e9fc;
}
/* #endregion team */

/* #region portfolio*/
.portf-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.portf-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* #endregion portfolio*/

/* #region end-page*/
.end-page {
  background-color: #2e2f42;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-accent {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
}
/* #endregion end-page*/
